/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/
.green-text{color:#2cc92c}
.green-text.fa-check-circle{font-size:16px;}
.yellow-text{color:#fac51c;}
.yellow-text.fa-warning{font-size:16px;}
.ui-timepicker-table td a{
		width: auto;
}
body .ui-widget-header {
    border: 1px solid #0f75bc;
    background: #0f75bc;
    font-weight: normal;
}

.custom-multiselect .multiselect.dropdown-toggle, .custom-multiselect .btn-group {
    width: 100%;
    text-align: left;
    background-color: #fff;
    box-shadow: none;
    border: 1px solid #e5e5e5;
    text-transform: none;
    color: #333;
    font-size: 13px;
    font-weight: normal;
}
.custom-multiselect .btn .caret {
    float: right;
    display: inline-block;
    margin-top: 8px;
}


.custom-multiselect .disabled {
	display: none;
}
.custom-multiselect .btn-group .dropdown-menu {
    max-height: 160px;
    width: 100%;
}
.custom-multiselect .multiselect-container li a label {
    padding: 3px 20px 3px 20px;
	margin: 0;
}
.p-t-10{
	padding-top: 10px;
	
}
.custom-multiselect .mCSB_scrollTools .mCSB_draggerContainer {
    right: -10px;
    
}